body {
  font-family: Arial, sans-serif;
}

input {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 8px;
  width: 220px;
}

button {
  margin-top: 10px;
  margin-right: 8px;
  padding: 6px 10px;
  cursor: pointer;
}

p {
  color:pink;
}

li {
  margin-bottom: 10px;
}